<div id="header">
  <div class="logo">
    <%= image_tag('common/sfc_hash.png') %>
  </div>
  <div id="navbar">
    <ul>
      <li class="home"><a href="/home"><span>Home</span></a></li>
      <li class="profile"><a href="/home"><spna>Profile</span></a></li>
      <li class="search"><a href="/search"><spna>Search</span></a></li>
      <li class="works"><a href="/home"><spna>Works</span></a></li>
      <li class="logout"><a href="/home/logout"><span>Logout</span></a></li>
    </ul>
  </div>
</div>
