// Place all the styles related to the works controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@charset "UTF-8";

a:link{
        color: #000000;
}
a:visited{
        color: #0000ff;
}
a:hover{
        color: #ff0000;
}
a:active{
        color: #ff0000;
}
table th tr{

}
body{
        margin-top: 0px;
}
#wrapper{
        text-align: center;
        margin: 0 auto;
        background-image: url("common/background.png");
        background-color:#ffffff;
        width: 920px;
}
#header h1{
}
.logo{
        width: 150px;
        height: auto;
        padding-top: 15px;
        margin-left: 30px;
}
#navbar{
        background-repeat: no-repeat;
        width: 920px;
        height: 40px;
        margin-left: -31px;
}
#navbar ul{
        width: 900px;
        height: 40px;
        list-style: none;
}
#navbar li{
        width: 180px;
        height: 40px;
        float: left;
        padding-left: -30px
}
.home a{
        display: block;
        width: 100%;
        height: 100%;
        background-image: url("common/navigation_bar.png");
        background-position: 0px 0px;
        background-repeat: no-repeat;
        text-indent: -1000em;
        text-decoration: none;
}
.home a:hover{
        background-image:url("common/navigation_bar.png");
        background-position: 0px -40px;
}
.profile a{
        display: block;
        width: 100%;
        height: 100%;
        background-image: url("common/navigation_bar.png");
        background-position: -180px 0px;
        background-repeat: no-repeat;
        text-indent: -1000em;
        text-decoration: none;
}
.profile a:hover{
        background-image:url("common/navigation_bar.png");
        background-position: -180px -40px;
}
.search a{
        display: block;
        width: 100%;
        height: 100%;
        background-image: url("common/navigation_bar.png");
        background-position: -360px 0px;
        background-repeat: no-repeat;
        text-indent: -1000em;
        text-decoration: none;
}
.search a:hover{
        background-image:url("common/navigation_bar.png");
        background-position: -360px -40px;
}
.works a{
        display: block;
        width: 100%;
        height: 100%;
        background-image: url("common/navigation_bar.png");
        background-position: -540px -80px;
        background-repeat: no-repeat;
        text-indent: -1000em;
        text-decoration: none;
}
.works a:hover{
        background-image:url("common/navigation_bar.png");
        background-position: -540px -40px;
}
.logout a{
        display: block;
        width: 100%;
        height: 100%;
        background-image: url("common/navigation_bar.png");
        background-position: -720px 0px;
        background-repeat: no-repeat;
        text-indent: -1000em;
        text-decoration: none;
}
.logout a:hover{
        background-image:url("common/navigation_bar.png");
        background-position: -720px -40px;
}
#content{
        width: 920px;
        float: left;
}
.content{
	width: 90%;
	margin-top: 4%;
	margin-bottom: 4%;
	margin-left: 5%;
	margin-right: 5%;
        color: #696969;
	border-color: #c0c0c0;
        border-top: 1px solid #c0c0c0;
        border-left: 1px solid #c0c0c0;
}
.content th{
        border-right: 1px solid #c0c0c0;
        border-bottom: 1px solid #c0c0c0;
}
.content td{
        text-align: center;
        border-right: 1px solid #c0c0c0;
        border-bottom: 1px solid #c0c0c0;
}
#footer{
        color: #ffffff;
        background-image: url("common/footer.png");
//        background-repeat: repeat-x;
        width: 902px;
        margin-top: 20px;
        margin-left: 8px;
        height: 54px;
        clear: left;
}
#footer .copyright{
        padding-top: 15px;
}
